body {
  background: linear-gradient(90deg, rgba(255,186,254,1) 0%, rgba(255,72,209,1) 100%);
}


.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}